@{
    ViewBag.Title = "A propos";
    ViewBag.Message = "Un site tellement utile";
}

<div class="couche textfont text-center">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Chez CS:SK, nous offrons la possibillité de visualiser toutes les skins de Counter Strike : Global Offensive, ainsi que leurs prix moyens sur
        le marché en ce moment
    </p>
    <h3>Les créateurs:</h3>
    <p>
        Francois Brisson : joueur compétitif de CS : GO, il a participé dans plusieurs tournois. Rang : Global Elite
    </p>
    <p>
        Marcel Michel : expert de CS : GO, il a  participé a plusieurs tournois en tant qu'organisateur et préposé a la logistique.
    </p>
    <p>
        Ensemble, nous avons collaboré pour offrir une vue globale sur un point indispensable de CS : GO, les retexture, ou comme on dit, les skins!
    </p>
    <br />
</div>