@{
    ViewBag.Title = "Nous Contacter";
    ViewBag.Message = "Pour nous joindre";
}
<div class="couche text-center">
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
    <address>
        360 No. scope<br />
        DE_Dust, GG G3T R3K<br />
        <abbr title="Telephone">Tel:</abbr>
        1-800-420-1337
    </address>

    <address>
        <strong>Soutien:</strong>   <a href="mailto:Support@example.com">op.gg@rekt.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">rip@rekt.com</a>
    </address>
</div>