@{
    ViewBag.Title = CS_SKINS_ASP.Views.Home.ResourceHome.TitreContact;
    ViewBag.Message = CS_SKINS_ASP.Views.Home.ResourceHome.sTitreJoindre;
}
<div class="couche textfont text-center">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <address>
        360 No. scope<br />
        DE_Dust, GG G3T R3K<br />
        <abbr title="Telephone">Tel:</abbr>
        1-800-420-1337
    </address>

    <address>
        <strong>@CS_SKINS_ASP.Views.Home.ResourceHome.Soutien</strong>   <a href="mailto:Support@example.com">op.gg@rekt.com</a><br />
        <strong>@CS_SKINS_ASP.Views.Home.ResourceHome.Marketing</strong> <a href="mailto:Marketing@example.com">rip@rekt.com</a>
    </address>
</div>