@{
    ViewBag.Title = "Home Page";
}

<div class="couche">
    <h1 id="nomsite">CS Skins</h1>
    <img id="mainlogo" src="~/Content/Images/CSGO-logo.png" alt="logo" />
</div>
<br />
<a href="#Cases" class="btn btn-default" data-toggle="collapse" id="btnCases">Boîtes</a>
<div id="Cases" class="collapse">
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Content/Images/Breakout360fx360f.png" />
        </div>
        <div class="col-lg-4">
            <img src="~/content/images/chroma2360fx360f.png" />
        </div>
        <div class="col-lg-4">
            <img src="~/content/images/chroma360fx360f.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="~/content/images/falchion360fx360f.png" />
        </div>
        <div class="col-lg-4">
            <img src="~/content/images/huntsman360fx360f.png" />
        </div>
        <div class="col-lg-4">
            <img src="~/content/images/operationphoenix360fx360f.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="~/content/images/shadow360fx360f.png" />
        </div>
        <div class="col-lg-4">
            <img src="~/content/images/vanguard360fx360f.png" />
        </div>
        <div class="col-lg-4">
            <img src="~/content/images/winteroffensive360fx360f.png" />
        </div>
    </div>
</div>